<div class="contact-container">
  <h2>Contact information for the emergency services</h2>

  <div>
    <section class = "contact-info-section">
      <h3>Emergency telephone numbers</h3>
      <table class = "contact-info-table">
        <tr><th>Service</th><th>Phone Number</th></tr>
        <tr><td>Single European emergency number</td><td>112</td></tr>
        <tr><td>Fire service</td><td>122</td></tr>
        <tr><td>Gas emergency</td><td>128</td></tr>
        <tr><td>Police</td><td>133</td></tr>
        <tr><td>Mountain rescue</td><td>140</td></tr>
        <tr><td>Emergency doctor</td><td>141</td></tr>
        <tr><td>Crisis hotline</td><td>142</td></tr>
        <tr><td>Ambulance service</td><td>144</td></tr>
        <tr><td>Emergency services for children and young people</td><td>147</td></tr>
      </table>
    </section>

    <section class = "contact-info-section">
      <h3>Service lines</h3>
      <table class = "contact-info-table">
        <tr><th>Service</th><th>Phone Number</th></tr>
        <tr><td>Pharmacy services</td><td>1455</td></tr>
        <tr><td>Patient transport</td><td>1484-(x) (only works with the extension for the respective patient transport service; only available in some regions)</td></tr>
        <tr><td>Regional alert centres</td><td>130 (Burgenland, Carinthia, Upper Austria, Styria, Tyrol, Vorarlberg)<br>122 (Lower Austria, Salzburg, Vienna)</td></tr>
        <tr><td>SMD - Sozial Medizinischer Dienst (Socio-medical Service)</td><td>050 141</td></tr>
        <tr><td>Austrian health hotline</td><td>1450</td></tr>
      </table>
    </section>

    <section class = "contact-info-section">
      <h3>Rescue and repatriation services</h3>
      <table class = "contact-info-table">
        <tr><th>Service</th><th>Phone Number</th></tr>
        <tr><td>Air Ambulance in Vienna</td><td>domestic: 1 800 424 9000 (international: 1 832 900 9000)</td></tr>
        <tr><td>Medical Air Ambulance Service Austria</td><td>01 662 50 50</td></tr>
        <tr><td>Tyrol Air Ambulance</td><td>0512 22 422 100</td></tr>
        <tr><td>FAA Flight Ambulance Austria</td><td>01 996 50 00</td></tr>
      </table>
    </section>

    <section class = "contact-info-section">
      <h3>More info at:</h3>
      <a href="https://www.oesterreich.gv.at/en/themen/notfaelle_unfaelle_und_kriminalitaet/notrufnummern.html#kurz">https://www.oesterreich.gv.at Emergency numbers</a>
    </section>
  </div>
</div>
