# Exclude node_modules
node_modules

# Exclude Angular build output
dist/
build/

# Exclude Git files
.git
.gitignore

# Exclude Docker files
Dockerfile
docker-compose.yml

# Exclude environment variables
.env

# Exclude OS-specific files
.DS_Store
Thumbs.db

# Exclude editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Exclude logs
logs/
*.log

# Exclude temporary files
tmp/
temp/
