<div class="landing-page-container">
  <div class="content-box">
    <div class="text-section">
      <h1>Welcome to AFM</h1>
      <p>
        AFM is your reliable source for real-time flood alerts and data-driven insights.
        Protecting communities through advanced technology and accurate forecasting. Log in now to access all our cool features!
      </p>
      <div class="action-buttons">
        <a routerLink="/login" class="btn login-btn">Log In</a>
        <a routerLink="/register" class="btn register-btn">Register</a>
      </div>
    </div>
    <div class="image-section">
      <img src="../../../assets/landing-image2.png" alt="AFM Logo">
    </div>
  </div>
</div>
